@using Humanizer;
@model BookingShared.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Account Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <a asp-action="Login" class="btn btn-info">Login</a>
        <a asp-action="Register" class="btn btn-info">Register</a>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="text-info h2">
                Welcome, dear @Model.AppUser.FirstName @Model.AppUser.LastName
            </div>
        </div>
        <div class="col-sm-5">
            <div class="h3">
                My Personal Data
            </div>
        </div>
        <div class="col-sm-7">
            <div class="h3">
                My bookings
            </div>
            @if (Model.Bookings.Any())
            {
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <td>
                                Hotel
                            </td>
                            <td>
                                Room No
                            </td>
                            <td>
                                From
                            </td>
                            <td>
                                To
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var booking in Model.Bookings)
                        {
                            <tr>
                                <td>
                                    @booking.RoomModel.HotelModel.Name
                                </td>
                                <td>
                                    @booking.RoomModel.RoomNumber
                                </td>
                                <td>
                                    @booking.BeginDate.ToOrdinalWords()
                                </td>
                                <td>
                                    @booking.EndDate.ToOrdinalWords()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="text-info h4">
                    No bookings available
                </div>
            }
        </div>
    </div>
}
